.app.dark {
  --bg-color: rgb(4 4 39);
  --inverted-bg-color: rgb(190 190 194);
  --primary-color: rgb(5 175 5);
  --secondary-color: rgb(2 69 2);
  --inverted-primary-color: rgb(12 114 203);
  --inverted-secondary-color: rgb(12 25 96);
}
