.app {
  --bg-color: rgb(190, 190, 194);
  --inverted-bg-color: rgb(4, 4, 39);

  --primary-color: rgb(12, 114, 203);
  --secondary-color: rgb(12, 25, 96);

  --inverted-primary-color: rgb(5, 175, 5);
  --inverted-secondary-color: rgb(2, 69, 2);
}
